@charset "UTF-8";
:root{
	--base--text-color: #333;
	--base--bg-color: #f1f1f1;
}
*{
	margin: 0;
	padding: 0;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}
body{
	font : 16px/1.6 "Noto Sans Kr", snas-serif;
	color: #333;
}

ul{
	list-style: none;
}